body {
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-right: 1.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.hero {
  background-color: rgb(145, 141, 141);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem 0;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fr);
  gap: 1%;
  width: 80%;
  margin: 0 auto;
}

.post-card {
  background-color: rgb(145, 141, 141);
  padding: 0.5rem 0.5rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  /* max-width: 20%; */
}

.wrapper-light {
  color: black;
  background-color: white;
}

.wrapper-dark {
  color: white;
  background-color: black;
}
